<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>
    <h2>welcome to user home</h2>
    <h3 id = 'name'>name: <%= name %></h3>
    <h3 id = 'email'>email: <%= email %></h3>
    <h3 id = 'uloc'>loc : <%= loc %></h3>

    <h3> make an order </h3>

    <form action = '/user/order/<%= email %>' method = 'POST'>
        <input type = 'text' name = 'location' placeholder = 'where you want the cylinder'>
        <button  >payment</button>
        <button type = 'submit'>place</button>
    </form>

    <form action = '/user/open_map/<%= email %>' method = 'POST'>
        <button type = 'submit'>TRACK</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>