<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="/map_for_user.css">
</head>

<body>
    <div class="info-grid">
        <div class="info-item">
            <h3 id='name'>name: <%= name %>
            </h3>
        </div>
        <div class="info-item">
            <h3 id='email'>email: <%= email %>
            </h3>
        </div>
        <div class="info-item">
            <h3 id='bcode'>bcode : <%= bcode %>
            </h3>
        </div>
        <div class="info-item">
            <h3 id='lat'>lat : <%= lat %>
            </h3>
        </div>
        <div class="info-item">
            <h3 id='lng'>lng : <%= lng %>
            </h3>
        </div>
        <div class="info-item">
            <h3 id='placename'>placename: <%= placename %>
            </h3>
        </div>

    </div>

    <div id='cover' class='cover'>
        <div id='confirm_delivery' class='confirm_delivery'>
            <h3>your order is approx 5 meter away</h3>

            <button id='me' value='me'>yes i am</button>
            <button id='not_me' value="not_me">no </button>
        </div>
    </div>

    <div id='cover2' class='cover2'>
        <div id='confirm_delivery2' class='confirm_delivery2'>
            <button type='submit' id='payment_button'>payment</button>
        </div>
    </div>
    <div id="map"></div>


    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/user_map_script.js"></script>
</body>

</html>