<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> welcome to partner home</h1>

    <h3 id = 'name'>name : <%= name %></h3>
    <h3 id = 'email'>email :<%= email %></h3>
    <h3 id = 'bcode'>bcode: <%= bcode %></h3>
    

    <form action = '/partner/<%= email %>/get_list' method = 'POST'>
        <button type = 'submit'>get ordered list</button>
    </form>

    <form action = '/partner/open_map/<%= email %>' method = 'POST'>
        <button type = 'submit'>see map</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>