<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel = 'stylesheet' href ='/partner_home.css'>
</head>

<body>
    <div class="container">

        <div class="header">
            <h1>Welcome to Partner Home</h1>
        </div>

        <div class="info-section">
            <h3 id='name'>name : <%= name %>
            </h3>
            <h3 id='email'>email :<%= email %>
            </h3>
            <h3 id='bcode'>bcode: <%= bcode %>
            </h3>
        </div>

        <div class="actions-section">
            <form action='/partner/<%= email %>/get_list' method='POST'>
                <button type='submit'>get ordered list</button>
            </form>

            <form action='/partner/open_map/<%= email %>' method='POST'>
                <button type='submit'>see map</button>
            </form>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
</body>

</html>